<!DOCTYPE html>
<html>

<head>
    <title>Untitled</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="https://cdn.bootcss.com/vue/2.1.8/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/vue-resource/1.0.3/vue-resource.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.js"></script>
</head>

<body>
    <div id="search">
        <input v-model="searchContent"></input>
    </div>
    <div id=“app-result”>
        <ul id="example-1">
            <li v-for="item in items">
                {{ item.text }}
            </li>
        </ul>
    </div>
</body>

<script type="text/javascript">
    //必须每个都来一个Vue对象么？
    var example1 = new Vue({
        el: '#example-1',
        data: {
            items: []
        }
    });
    var input = new Vue({
        el: '#search',
        data: {
            searchContent: '',
            results: [{
                text: 'aa'
            }, {
                text: 'bb'
            }]
        },
        mounted: function() {
            this.$nextTick(function() {
                console.log('start');
                $.ajax({
                    url: 'https://api.douban.com/v2/movie/in_theaters',
                    dataType: 'jsonp',
                    success: function(res, status, xhr) {
                        var result = [];
                        var subjects = res['subjects'];
                        var len = subjects.length;
                        for (var i = 0; i < len; i++) {
                            var item = subjects[i];
                            var resultItem = {
                                text: item['title'] + "-" + item['rating']['average']
                            };
                            result.push(resultItem);
                        }
                        example1.items = result;
                        console.log("finish");
                    }
                });
            })
        }
    });
</script>

</html>
